{% extends 'ArtsNearMe/settings.html' %}

{% block settings_content %}
<h2 class="text-2xl font-bold mb-4">Change Password</h2>
{% if messages %}
{% for message in messages %}
    <div class="
        {% if message.tags == 'success' %}
            bg-emerald-600 text-white
        {% elif message.tags == 'error' %}
            bg-red-700 text-white
        {% else %}
            bg-gray-600 text-white
        {% endif %}
        p-2 rounded mb-4">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Render custom fields with error messages -->
    <button type="submit" class="bg-sky-600 text-white px-4 py-2 rounded-md mt-4 hover:bg-sky-800">
        Update Password
    </button>
</form>
{% endblock %}
