{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&loading=async&libraries=places" async defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>{% block title %}ArtsNearMe{% endblock %}</title>
</head>
<body>
  <header class="p-4 text-white">
    {% include 'ArtsNearMe/_navbar.html' %}
  </header>
  <main class="container h-full w-full p-4 pr-0 mt-4">
    {% block content %}
    {% endblock %}
  </main>
  {% block script %}
  {% endblock %}
</body>
</html>