{% extends 'ArtsNearMe/index.html' %}
{% load static %}

{% block title %}
Nearby | ArtsNearMe
{% endblock %}

{% block content %}
<div style="height: 100% width: 100%" class="flex w-full h-full">
    {{ events|json_script:'events' }}
    <!-- Left section: Map (70%) -->
    <div id="map" style="width: 72%; height: 1800px;" class="w-[72%] h-full"></div>
    <!-- Right section: List of places (30%) -->
    <div id="place-list-container" class="w-[28%] bg-white overflow-y-auto pl-2">
        <div id="button-group" class="flex justify-between w-full my-2">
            <!-- Left Button: "Places" -->
            <button id="places-button" class="w-1/2 py-2 text-sm font-medium rounded-l-lg bg-sky-800 text-white hover:bg-sky-950 active-button">
                Places
            </button>
            <!-- Right Button: "Events" -->
            <button id="events-button" class="w-1/2 py-2 text-sm font-medium rounded-r-lg bg-gray-300 text-gray-800 hover:bg-gray-400">
                Events
            </button>
        </div>
        <div id="places-list" class="w-full max-w-lg bg-white rounded-lg shadow-md p-2 pl-4 pt-0 overflow-y-auto">
            <!-- The list of places will be rendered here -->

        </div>
        <div id="events-list" class="w-full max-w-lg bg-white rounded-lg shadow-md p-2 pl-4 pt-0 overflow-y-auto hidden">
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script>
    let isUserLoggedIn = "{{ login_status|yesno:"true,false" }}" === "true";
</script>
<script src="{% static "ArtsNearMe/js/map.js" %}?v={{ timestamp }}"></script>
{% endblock %}